body{
margin:0;
font-family:Arial,sans-serif;
background:#111827;
color:white;
text-align:center;
}

.container{
padding:20px;
}

h1{
margin-top:10px;
}

input{
margin:20px;
}

#workspace{
position:relative;
width:90%;
max-width:800px;
margin:auto;
overflow:hidden;
border-radius:15px;
background:#1f2937;
min-height:400px;
}

#imagePreview{
width:100%;
display:none;
}

#protractor{
position:absolute;
width:300px;
left:100px;
top:100px;
cursor:grab;
}

.controls{
margin-top:20px;
}

button{
padding:10px 20px;
margin:5px;
border:none;
border-radius:10px;
font-size:16px;
cursor:pointer;
}
